nav { background-color:orange;
    width: 100%;
    height: 80px;
    position: center; 
} 
nav a{
    color:white;
    text-decoration: none;
}
#container { height: 700px;
    background-color: lightgray;
    width:100%;
}
footer{ width: auto;
    height: auto;
    background-color: orange;
    border-top: 2px;
    border-color: black;
    text-align: center;
}  
*{ margin:0;
}
#left{float:left;
      background-color:lightgray; 
      width:50%;
      height:auto;
}
#right{background-color: lightgray;
        float:right;
        width:50%;
        height:auto;
}
.box1{ height: 300px;
      width: 200px;
      background-color: rebeccapurple;
      margin-bottom: 8px;
      margin:8px;
      float:left;
      background-image: url(gengar.jpg);
      background-repeat: no-repeat;
      background-size:40%;
      background-position:top;
}
.box2{ height: 300px;
    width: 200px;
    background-color: rebeccapurple;
    margin-bottom: 8px;
    margin:8px;
    float:left;
    background-image: url(gyarados.jpg);
    background-repeat: no-repeat;
    background-size:35%;
    background-position:top;
}
.box3{ height: 300px;
    width: 200px;
    background-color: rebeccapurple;
    margin-bottom: 8px;
    margin:8px;
    float:left;
    background-image: url(breloom.jpg);
    background-repeat: no-repeat;
    background-size:40%;
    background-position:top;
}
.box4{ height: 300px;
    width: 200px;
    background-color: rebeccapurple;
    margin-bottom: 8px;
    margin:8px;
    float:left;
    background-image: url(torterra.jpg);
    background-repeat: no-repeat;
    background-size:40%;
    background-position:top;
}

@media(min-width: 0px){
    .box1{width: 100%;
          background-size:15%;}
    .box2{width: 100%;
        background-size:15%;}
    .box3{width: 100%;
        background-size:15%;}
    .box4{width: 100%;
        background-size:15%;
    }
    #left{float:none;}
    #right{float:none;}
}
@media(min-width: 800px){
    .box1{width:250px;
        background-size:40%;}
    .box2{width:250px;
        background-size:35%;}
    .box3{width:250px;
        background-size:40%;}
    .box4{width:250px;
        background-size:40%;}
        #left{float:left;}
        #right{float:right;}
}

/*#gengar{ background-image: url(gengar.jpg);
    height:100px;
    width:100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
#gyrados{ background-image: url(gyarados.jpg);
    height:100px;
    width:100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#breloom{ background-image: url(breloom.jpg);
    height:100px;
    width:100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#torterra{ background-image: url(torterra.jpg);
    height:100px;
    width:100px;
background-repeat: no-repeat;
background-size: 100% 100%;
}
*/
